@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{
   
    font-family: 'Red Hat Display', sans-serif;
    

}
.header{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    
}